<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/conversational-form-docs.min.css') }}">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.6/conversational-form.min.js" crossorigin></script>
	</head>
	<body>
		<script src="{{ url_for('static', filename='styles/conversational-form-examples.min.js') }}" id="examples-script"></script>

		<main class="content">
			<menu id="small-screen-menu">
				<h2>Inner Talk ?...?</h2>

				<div class="switch-btn", style="display:none;">
					<label class="switch">
						<input type="checkbox" onclick="window.conversationalFormExamples.toggleConversation(event)">
						<div class="slider round"></div>
					</label>
				</div>

				<div class="hamburger-btn" onclick="window.conversationalFormExamples.toggleMenuState(event)">
					<svg viewBox="0 0 29 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
							<g transform="translate(-325.000000, -87.000000)" stroke="#FFFFFF" stroke-width="2">
								<g transform="translate(325.000000, 87.000000)">
									<path d="M27.4802431,7 L1.23827993,7"></path>
									<path d="M27.4802431,1 L1.23827993,1"></path>
									<path d="M27.4802431,13 L1.23827993,13"></path>
								</g>
							</g>
						</g>
					</svg>
				</div>
			</menu>

			<div style="display:none;", class="switch-btn" id="cf-toggle-btn" data-label="Enable Conversational Form" data-label-toggled="Disable Conversational Form">
				<label class="switch">
					<input type="checkbox" onclick="window.conversationalFormExamples.toggleConversation(event)">
					<div class="slider round"></div>
				</label>
			</div>

			<section id="info" role="info">
				<div class="close-btn" onclick="window.conversationalFormExamples.toggleMenuState()">
					<svg viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
							<g transform="translate(-328.000000, -83.000000)" stroke="#FFFFFF" stroke-width="2">
								<g id="close" transform="translate(329.000000, 84.000000)">
									<path d="M19.6371966,19.2779351 L1.08132646,0.722064927"></path>
									<path d="M19.4923318,0.722064927 L0.936461672,19.2779351"></path>
								</g>
							</g>
						</g>
					</svg>
				</div>

				<article>
					<h1 id="writer">
						<img src='static/images/robo.png' style="vertical-align:middle" width=120/> Inner Talk
					</h1>
					<h2>
						Plot your business idea in a small Q&A session. After all, you'll have a text file including all the conversation. It's a good test before your first pitch or picking your sketchy idea to the next level.
					</h2>
					<h2>
						If you like it, pls consider to DONATE and let me keep things up for helping this cute bot to get smarter and versatile. 
					</h2>
					<h2>
						www.erogol.com - @erogol
					</h2>
					<h2>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal_form">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="4X9K43V3DVL2N">
							<input type="image" style="float:left; padding-top:10px; vertical-align:middle;" src="static/images/paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="25%">
					</form>
					<img src="static/images/bitcoin.png" id="bitcoin" style="float:left; padding-left:10px; padding-top:10px; vertical-align:middle;" width="25%"/>
					</h2>
				</article>
			</section>

			<script>
				var qs;
				var q_idx = 0;

				// Retrieve questions from the server
				// Add last responses for the robot.
				// Ask for download
				// Ask for retry
				function get_questions(){
					$.ajax({
						url: "http://146.185.174.214:5555/rq",
						async: false,
						type: 'GET',
						success: function(response){
							qs = $.parseJSON(response);

							// Add questions to form 
							for(i=0; i < qs.length; i++){
								$('#form').append('<input cf-questions="'+qs[i]['question']+'" name="q'+i+'">');
							}

							// Add dowload notice
							msg = "Do you want to download all our conversation as a text?"
							$('#form').append(
								'<fieldset cf-questions="'+msg+'" id="down_question"> \
									<label for="down-yes">Yes \
									<input type="radio" name="cfc-down" id="down-yes" value="down-yes"> \
									</label> \
									<label for="down-no">No \
									<input type="radio" name="cfc-down" id="down-no" value="no"> \
									</label> \
								</fieldset>'
							);

							// Last message
							msg = "Ok that's all for now. Let me know if you like to start over!! Otherwise take care and good luck!! ;) "
							$('#form').append(
								'<fieldset cf-questions="'+msg+'" id="last_question"> \
									<label for="again-yes">Yeap start again... \
									<input type="radio" name="cfc-end" id="again-yes" value="again-yes"> \
									</label> \
								</fieldset>'
							);
						}
					})
				}

				// CF callback function runs after each CF user response.
				function callbacks_route(dto, success, error){
					if(dto.tag.activeElements){
		              	var originalElementOfRadio = dto.tag.activeElements[0].domElement;
		             	val = originalElementOfRadio.value;

		             	// submit the form
		             	if(val == 'down-yes'){
							console.log('Download ...')
							$('#form').attr('action', 'http://127.0.0.1:5555/judge')
									 .attr('method', 'post')
									 .submit()
									 .attr('action', '')
									 .attr('method', '')
						}

						// Reload the page
						if(val == 'again-yes'){
							console.log('Reload ...')
							location.reload();
						}
					}
					success();
				}

				$(document).ready(function(){
					console.log("Loading questions...");
					get_questions();
					console.log("Activating form...")
					// activate cf 
					var conversationalForm = window.cf.ConversationalForm.startTheConversation({
						formEl: document.getElementById("form"),
						context: document.getElementById("cf-context"),
						flowStepCallback: callbacks_route
					})

					// add bitcoin tooltip action
					$('#bitcoin').on({
					  "click": function() {
					    $(this).tooltip({items: "#bitcoin", content: "13XxUt6Y5PWA29ve3kGvDJdV1As762v428"});
					    $(this).tooltip("open");
					  },
					  "mouseout": function() {      
					     $(this).tooltip("disable");   
					  }
					});
					$('#bitcoin').tooltip(
					    {"classes": 
					   		{"ui-tooltip": "bitcoin-tooltip", 
					   		 "ui-tooltip-content": "bitcoin-tooltip-content"}
					   	}
					);
				});
			</script>

			<section role="form">
				<div clVass="form-outer">

					<form id="form" >
						<label>
							<input cf-questions=":wave:!! I see you are here with a new idea ;). I like to discuss it to see the potential. I've 20 simple questions which makes you to think in more details for your Business and Technology. After all, you can save this discussion and keep it for your next pitch."
							cf-label="Yes, let's begin!" type="radio" value="0" name='q-1'>
						</label>
					</form>

				</div>
			</section>

			<section id="cf-context" role="cf-context" cf-context>
				
			</section>
		</main>
		<script type="text/javascript">
			
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44629896-5"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-44629896-5');
		</script>

	</body>
</html>
